.searchHeader {
    text-align: center;
}
.symbolLabel{
    color:red;
}
.searchContainer {
    margin-top :4%;
    background-color: white;
}

body {
    background-color: #000000 !important;
}
.example-full-width {
  width: 100%;
}
.form-group {
  margin-bottom: 0;
}
.mat-autocomplete-panel .mat-autocomplete-visible{
  overflow: hidden;
}
#mat-autocomplete-0 {
  overflow: hidden;
}
