<div data-role="page">
  <div  class="well container searchContainer my-container" id="searchContainer">
    <h4 class="searchHeader">Stock Market Search</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit(symbol.value)">
      <div class="row">
        <div class="col-md-3">
          Enter Stock Ticker Symbol:<span class="symbolLabel"> *</span>
        </div>
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{ 'has-error' : symbol.touched && (symbol.invalid || !myValidate)}">
          <!--<div class="form-group" [ngClass]="{ 'has-error' : symbol.touched && symbol.invalid}">-->
              <input class="form-control" id="symbol" name="symbol" placeholder="e.g. AAPL"
                     [(ngModel)]="symbol_text" #searchBox
                     formControlName="symbol"  required   [matAutocomplete]="auto" (keyup)="search(searchBox.value)">
          </div>

        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary" id="getQuote" [disabled]="symbol.invalid||!myValidate">
            <span class="glyphicon glyphicon-search"> </span> Get Quote
          </button>
          <button type="button" class="btn" id="clearButton" (click)="ClickClear()">
            <span class="glyphicon glyphicon-refresh"></span> Clear
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <span *ngIf="symbol.touched && !myValidate">Please enter a stock ticker symbol.</span>
        </div>

      </div>
    </form>
    <!--<p>Name控件的valid状态：{{symbol.valid}} - 表示控件有效</p>-->
    <!--<p>Name控件的invalid状态：{{symbol.invalid}} - 表示控件无效</p>-->
    <!--<p>Name控件的pristine状态：{{symbol.pristine}} - 表示控件值未改变</p>-->
    <!--<p>Name控件的dirty状态：{{symbol.dirty}} - 表示控件值已改变</p>-->
    <!--<p>Name控件的touched状态：{{symbol.touched}} - 表示控件已被访问过</p>-->
    <!--<p>Name控件的untouched状态：{{symbol.untouched}} - 表示控件未被访问过</p>-->
    <!--<p>{{searchBox.value}}</p>-->

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let data of autodatas | async" [value]="data.Symbol">
        <span>{{data.Symbol}} - {{ data.Name }} ({{data.Exchange}})</span>
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="container my-container">
    <hr>
  </div>
  <stock-detail [symbol]="symbol_value" [fake_count] = "fake_count" [fake_count2] = "fake_count2" [ifClear] = "ifClear"></stock-detail>
</div>
