.graph {
  position: absolute;
  width: 100%;
}
.highcharts-container {
  width:100% !important;
  height:100% !important;
}
.highcharts-root {
  width:100% !important;
  height:100% !important;
}
.highcharts-background{
  width:100% !important;
  height:100% !important;
}
button[disabled] {
  cursor: not-allowed;
}
.my_table tr:nth-child(even) {
  background: #FFFFFF;
}

.my_table tr:nth-child(odd) {
  background: #F9F9F9;
}
.toggle {
  margin-bottom: 5px;
}
