/* You can add global styles to this file, and also import other style files */
.searchHeader {
  text-align: center;
}
.symbolLabel{
  color:red;
}
/*.searchContainer {*/
  /*margin-top :4%;*/
  /*background-color: white;*/
/*}*/
.row {
  margin-left: -15px;margin-right: -15px;
}
body
{
  background-image:url('http://cs-server.usc.edu:45678/hw/hw8/images/background.png');
  /*background-repeat:repeat-x, repeat-y;*/
}
.highcharts-container {
  width:100% !important;
  height:100% !important;
  min-height:100% !important;
}
.highcharts-root {
  width:100% !important;
  height:100% !important;
  min-height:100% !important;
}
.highcharts-background{
  width:100% !important;
  height:100% !important;
 min-height:100% !important;

}
chart {
  display: block;
}
.progress{
  margin-top: 4%;
}
.errormassage {
  margin-top: 4%;
}
button[disabled] {
  cursor: not-allowed;
}
.my_table tr:nth-child(even) {
  background: #FFFFFF;
}

.my_table tr:nth-child(odd) {
  background: #F9F9F9;
}
@media all and (min-width: 768px){
  .hidden-mobile{display:inline;}

  .my-container{
    width: 80%;
    margin: 0px auto;
  }
}

@media all and (min-width: 321px) and (max-width: 767px){
  .hidden-mobile{display:none;}

  .my-container{
    width: 94%;
    margin: 0px auto;
  }
  .small-select{
    width: 70%; margin-left:5%; float:left
  }
  .small-button{
    font-size: 0.9em;
  }
}
.toggle {
  margin-bottom: 5px;
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
