/* You can add global styles to this file, and also import other style files */
.searchHeader {
  text-align: center;
}
.symbolLabel{
  color:red;
}
.searchContainer {
  margin-top :4%;
  background-color: white;
  padding-bottom :1%;
}
.row {
  margin-left: -15px;margin-right: -15px;
}
body {
  background-color: #000000 !important;
}
.highcharts-container {
  width:100% !important;
  height:100% !important;
  min-height:100% !important;
}
.highcharts-root {
  width:100% !important;
  height:100% !important;
  min-height:100% !important;
}
.highcharts-background{
  width:100% !important;
  height:100% !important;
 min-height:100% !important;

}
chart {
  display: block;
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
